<%- include("partials/header"); -%>





<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
              <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">GameSwitch LLC</span>
              </a>
              <div class="nav_list">
                <a href="/" class="nav_link">
                  <i class='bx bx-plus-circle nav_icon'></i>
                  <span class="nav_name">Add Game</span>
                </a>
                <a href="/updategame" class="nav_link">
                  <i class='bx bx-pencil nav_icon'></i>
                  <span class="nav_name">Update Game</span>
                </a>
                <a href="/delgame" class="nav_link active">
                  <i class='bx bx-trash nav_icon'></i>
                  <span class="nav_name">Delete Game</span>
                </a>
                <a href="/viewall" class="nav_link">
                    <i class='bx bx-book nav_icon'></i>
                    <span class="nav_name">View all Games</span>
                </a>
                <a href="/orders" class="nav_link">
                  <i class='bx bx-cart nav_icon'></i>
                  <span class="nav_name">Orders</span>
                </a>
                <a href="/account" class="nav_link">
                  <i class='bx bx-user nav_icon'></i>
                  <span class="nav_name">My Account</span>
                </a>
              </div>
            </div>
            <a href="/logout" class="nav_link">
              <i class='bx bx-log-out nav_icon'></i>
              <span class="nav_name">SignOut</span>
            </a>
          </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <h4 style="font-weight: bolder; margin-bottom: 3rem;">Delete a game</h4>
        <div >
            <form id="myForm" style="float: left; width: 25rem;" action="/delgame" method="POST">
                <div class="form-group">
                    <select name="title" class="js-example-basic-single form-control" id="select">  
                     <option selected="selected" disabled="disabled" value="">Select a game</option>
                     <% foundGames.forEach(function(game){ %>
                          <option><%=game.gameName %></option> 
                    <%  }); %>    
                    </select>
                </div>
                <button style="margin-top: 2rem; background-color: red; border: none;" onclick="myFunction()" type="button" class="btn btn-primary">Delete</button>
              </form>
        </div>
    </div>
    <!--Container Main end-->
</body>


<script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
  });

  function myFunction() {
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: 'green',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
  if (result.isConfirmed) {
    document.getElementById("myForm").submit();
    Swal.fire(
      'Deleted!',
      'Game has been deleted.',
      'success'
    )
    .then(function (result) {
            if (result.value) {
                window.location = "/delgame";
            }
    })
  }
})
}
</script>







<%- include("partials/footer"); -%>