<%- include("partials/header"); -%>

<body>
    <style>
        body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

    </style>
    <div class="container">
        <h1 style="font-weight: bolder;" class="display-1 text-center">GameSwitch LLC</h1>
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 style="font-weight: bolder;" class="card-title text-center mb-5 fw-light fs-5">Admin Register</h5>
              <form action="/register" method="post">
                <div class="form-floating mb-3">
                  <input type="text" name="name" required class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Employee Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="tel" name="phone" required class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Employee Phone No</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="password" required class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
  
  
                <div class="d-grid">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Register</button>
                </div>
                <hr class="my-4">
              </form>
              <div class="text-center">
                <a style="font-weight: bold; color: #0062E6;" href="/login">Already registered? Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



  <%- include("partials/footer"); -%>