<%- include("partials/header"); -%>

<body>
    <style>
        body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

    </style>
    <div class="container">
        <h1 style="font-weight: bolder;" class="display-1 text-center">GameSwitch LLC</h1>
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 style="font-weight: bolder;" class="card-title text-center mb-5 fw-light fs-5">Registeration was succesful!</h5>
              <h4>Employee Registeration was succesful.Your Employee ID is <a href=""><%= employeeID%></a>. Please note it down as this will be required whenever you login</h4>
              <div style="margin-top: 2rem;" class="text-center">
                <a style="font-weight: bold; color: #0062E6" href="/login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



  <%- include("partials/footer"); -%>